.login-background {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url('../imgs/ensinando-matematica-para-criancas-8-dicas-uteis-para-os-pais.jpeg');
    background-size: cover;
    background-position: center top;
    height: 100%;
  }
  