.biblioteca {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .livro {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .livro img {
    width: 100px;
    margin-right: 20px;
  }
  
  .livro h2 {
    margin: 0;
  }
  
  .livro p {
    font-size: 0.9rem;
    color: #666;
  }
  