.navbar-do-header {
  height: 50px; 
  background-color: black;
}

.navbar-do-header .container-do-header {
  height: 100%;
  margin-left: 15%; 
  margin-right: 15%; 
}

.container-do-header ul {
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 15px; 
}

.container-do-header ul li {
  font-size: 14px;
  list-style-type: none;
}

.container-do-header ul li a {
  text-decoration: none;
  color: #e7eaf6;
}

.navbar-brand {
  font-size: 18px; 
}
