.navbar-do-header {
  height: 50px; 
  background-color: black;
}

.navbar-do-header .container-do-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15%;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.nav-item {
  font-size: 14px;
}

.nav-link {
  text-decoration: none;
  color: #e7eaf6;
}

.navbar-brand {
  font-size: 18px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
